.arts-container {
  display: grid;
  margin-right: 1em;
  grid-auto-columns: minmax(15rem, auto);
  grid-template-columns: repeat(3, 1fr);
  max-height: 100%;
  max-width: 100%;
  grid-gap: 50px;
  min-width: 0;
}

@media only screen and (max-width: 767px) {
  .arts-container {
    grid-template-columns: minmax(15rem, 1fr);
  }
}
