.arts-container {
  display: grid;
  grid-auto-columns: minmax(15rem, auto);
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
}

@media only screen and (max-width: 767px) {
  .arts-container {
    grid-template-columns: minmax(15rem, 1fr);
  }
}
